@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html, body{
        @apply text-dark-gray;
        @apply font-medium;
    }
    button, input, optgroup, select, textarea{
        outline: none;
    }
}
@layer components {
    .btn-flex{
        @apply flex items-center gap-3;
    }
    .flex-cb{
        @apply flex justify-between items-center;
    }
    .flex-cc{
        @apply flex justify-center items-center;
    }
    .ltr{
        direction: ltr;
    }
    .absolute-center{
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 ;
    }
    .fixed-center{
        @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 ;
    }
    .appearance-select {
        background-position: left .5rem center;
    }
}